<mat-card>
    <form action="">
        <mat-form-field>
            <input MatInput placeholder="name" name="name"[(ngModel)]="product.name">
        </mat-form-field>
        <mat-form-field>
            <input MatInput placeholder="preço(R$)" name="price" [(ngModel)]="product.price">
        </mat-form-field>
    </form>
        
    <button mat-raised-button (click)="mudarProduto()">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    </mat-card>
    
